@font-face {
	font-family: 'Geometria';
	src: local('Geometria Light'), local('Geometria-Light'),
		url('../fonts/Geometria-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: local('Geometria'),
		url('../fonts/Geometria.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/Geometria-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

html{
	height: 100%;
	min-height: 100%
}

body{
	min-height: 100%;
	height: auto;
	background: 
		linear-gradient(to bottom, rgba(36, 41, 63, 0.3) 0%, rgba(80, 195, 184, 0.3) 25.52%, rgba(88, 223, 206, 0.3) 100%) 0 0 no-repeat fixed,
		url(../img/body_bg.jpg) 0 0 repeat scroll
	;
	color: #fff;
	font-family: 'Geometria', sans-serif;
	font-size: 11px;
	font-weight: 400;
	font-style: normal;
	padding: 90px 0 70px;
	min-width: 1280px;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(37, 43, 64, 0.75);
	z-index: 6;
}
header .row{
	height: 75px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(37, 43, 64, 0.75);
	z-index: 5;
}

.my-container{
	width: calc(100% - 80px);
}

.logo{
	display: block;
	width: 156px;
	height: 40px;
	background: url(../img/logo.svg) 0 0  no-repeat;
}

.clock{
	min-width: 120px;
	text-align: left;
	line-height: 1;
	padding: 0 8px;
}

.clock__time{
	font-weight: 700;
	font-size: 22px;
}
.clock__date{
	margin-top: 3px;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
}

.menu{
	display: flex;
	max-width: 900px;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}
.menu > li{
	position: relative;
	padding: 0 14px;
	height: 100%;
}
.menu > li:hover > a{
	color: #00FFE0;
}
.menu > li > a{
	display: block;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	height: 100%;
	line-height: 75px;
	white-space: nowrap;
}
.menu > li > a svg{
	height: 23px;
	display: inline-block;
}
.menu > li:hover .submenu{display: block;}
.submenu{
	list-style: none;
	margin: 0;
	padding: 5px 10px;
	display: none;
	position: absolute;
	width: 200px;
	top: 75px;
	left: 50%;
	transform: translateX(-50%);
	background: #252d42;
	border: 1px solid rgba(27, 111, 116, 0.7);
	box-shadow: 0px 3px 7px rgba(88, 223, 206, 0.1);
}
.submenu li {
	display: block;
}
.submenu li a{
	display: block;
	padding: 5px 0 5px 0;
    color: #fff;
    text-decoration: none;
}
.submenu li a:hover{
    color: #00FFE0;
}
.submenu__title{
	position: relative;
	font-size: 14px;
	border-left: 4px solid #00FFE0;
	padding-left: 4px;
	margin-bottom: 5px;
}

.support-link > span{
	display: inline-block;
}
.support-link__icon{
	width: 23px;
}
.support-link__text{
	margin-left: 10px;
	font-size: 12px;
}

.sprite-icons{
	display: block;
	color: currentColor;
	max-width: 100%;
	max-height: 100%;
}

.user-head{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 255px;
}
.user-head__avatar{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 20px;
}
.user-head__name{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-head__name span{
	margin-right: auto;
	font-size: 13px;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1;
}
.user-head__link{
	color: #fff;
}
.user-head__link:hover{
	color: #f05b4c;
}
.user-head__position{
	font-size: 10px;
	color: #58DFCE;
}

.menu-dashboard{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	line-height: 50px;
	list-style: none;
	padding: 0;
	flex-grow: 2;
}
.menu-dashboard a:hover {
	color: #00FFE0;
}
.menu-dashboard a{
	font-size: 22px;
	color: inherit;
	display: block;
	position: relative;
	height: 100%;
	padding: 0 10px;
	flex-grow: 2;
	text-align: center;
	transition: all 0.2s;
}
.menu-dashboard a.active{
	color: #00FFE0;
}
.menu-dashboard a:before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 3px;
	background: transparent;
	box-shadow: 0 -4px 18px 2px transparent;
	transition: all 0.2s;
}
.menu-dashboard a.active:before{
	background: currentColor;
	box-shadow: 0 -4px 18px 2px #58DFCE;
}


.dashboard__list{
	position: relative;
	height: calc(100vh - 160px);
	width: 100%;
	padding: 25px 0 20px 0;
	border: 1px solid red;
}
.dashboard__list-one,
.dashboard__list-two{
	position: relative;
	height: calc(50% - 20px);
}
.dashboard__list-one{
	margin-bottom: 40px;
}
.board{
	position: absolute;
	background: #283749;
	width: 430px;
	height: 100%;
	z-index: 4;
	display: none;
	padding: 0 15px 0;
}
.board.active{
	display: block;
}
.board.ui-draggable-dragging{
	box-shadow: 0px 3px 22.5px 1.5px #252B40;
	z-index: 7!important;
}
.board.current{
	box-shadow: 0px 3px 22.5px 1.5px #252B40;
	z-index: 5;
}
.board-tasks{
	width: 800px;
	width: calc(44.565217391304346% - 20px);
	margin: 0 40px 0 0;
}
.board-phone{
	width: 530px;
	width: calc(29.891304347826086% - 20px);
}
.board-calendar,
.board-chat,
.board-history,
.board-workField,
.board-notice{
	width: 430px;
	width: calc(25% - 30px);
	margin-right: 40px;
}
.board-workField{margin-right: 0;}

.board-calendar{
	top: 0;
	left: 0;
}
.board-calendar.default{
	top: 0!important;
	left: 0!important;
}
.board-tasks{
	top: 0;
	left: 25.6%;
}
.board-tasks.default{
	top: 0!important;
	left: 25.6%!important;
}
.board-phone{
	top: 0;
	left: 71.19565217391305%;
}
.board-phone.default{
	top: 0!important;
	left: 71.19565217391305%!important;
}
.board-chat{
	top: 0;
	left: 0;
}
.board-chat.default{
	top: 0!important;
	left: 0!important;
}
.board-notice{
	top: 0;
	left: 25.6%;
}
.board-notice.default{
	top: 0!important;
	left: 25.6%!important;
}
.board-history{
	top: 0;
	left: 51.08695652173914%;
}
.board-history.default{
	top: 0!important;
	left: 51.08695652173914%!important;
}
.board-workField{
	top: 0;
	left: 76.63043478260869%;
}
.board-workField.default{
	top: 0!important;
	left: 76.63043478260869%!important;
}
.board__title{
	position: relative;
	width: calc(100% + 30px);
	left: -15px;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	line-height: 1;
	padding: 15px;
}
.board__action-btn{
	position: absolute;
	right: 15px;
	left: auto;
	top: 15px;
}
.board__action-btn a{
	font-size: 12px;
	display: inline-block;
	margin-left: 7px;
}

.board__scroll{
	max-height: calc(100% - 100px);
	padding-right: 4px;
}



#calendar-dashboard{
	/* width: 90%; */
	margin: 0 auto;
}
.my-datepicker .ui-widget {
	font-family: 'Geometria', sans-serif;
	font-family: inherit;
}
.my-datepicker .ui-datepicker {
    border: none!important;
    display: block;
    padding: 0;
    background: none;
    box-shadow: none;
    width: 100%;
}

.my-datepicker .ui-datepicker .ui-datepicker-header {
    background: none;
    border: 0;
    text-align: center;
    margin-bottom: 10px;
}

.my-datepicker .ui-corner-all a{
    top: 0;
    margin: 0;
}

.my-datepicker .ui-datepicker-prev,
.my-datepicker .ui-datepicker-next{
	position: absolute;
	top: 4px!important;
	color: #00FFE0;
	cursor: pointer;
	font-weight: inherit!important;
	text-decoration: none;
	background: none;
	border:none;
}
.my-datepicker .ui-datepicker-next span,
.my-datepicker .ui-datepicker-prev span{display: none;}

.my-datepicker .ui-datepicker-prev::after,
.my-datepicker .ui-datepicker-next::after{
	display: block;
	content: '\f105';
	font-size: 15px;
    font-family: 'Font Awesome 5 Free';
}
.my-datepicker .ui-datepicker-prev::after{
	content: '\f104';
}

.my-datepicker .ui-datepicker-prev,
.my-datepicker  .ui-datepicker-prev-hover{
    left: calc(50% - 85px)!important;
}
.my-datepicker .ui-datepicker-next,
.my-datepicker  .ui-datepicker-next-hover{
    right: calc(50% - 88px)!important;
}
.my-datepicker  .ui-datepicker-prev-hover,
.my-datepicker  .ui-datepicker-next-hover{
	color: #fff;
}

.my-datepicker .ui-datepicker-title {
	display: inline-block;
	margin: 0;
	line-height: 1;
	font-size: 12px;border: 1px solid rgba(88, 223, 206, 0.5);
	box-shadow: inset 0px 3px 7.5px rgba(88, 223, 206, 0.1);
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: 400;
}

.my-datepicker .ui-datepicker-title span {
    color: #ffffff;
    font-size: 13px;
}

.my-datepicker .ui-datepicker-calendar span {
    padding: 2px;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}

.my-datepicker .ui-datepicker-calendar {
    border-radius: 2px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 0;
}

.my-datepicker .ui-datepicker-calendar th {
    padding: 4px;
    line-height: 15px;
    vertical-align: middle;
    padding-bottom: 6px;
    background: transparent;
}

/*.my-datepicker .ui-datepicker a:hover {
    background: none;
    border: 0;
}*/

/*.my-datepicker .ui-datepicker a.ui-state-active:hover {
    background: url(./../img/lk/border-date.svg) no-repeat center center;
}

.my-datepicker .ui-datepicker a.ui-datepicker-next:hover span {
    top: 13px;
    left: 10px;
}

.my-datepicker .ui-datepicker a.ui-datepicker-prev:hover span {
    top: 13px;
    left: 13px;
}*/

/*.my-datepicker .ui-datepicker a.ui-datepicker-calendar-green {
    background: url(./../img/lk/green-point.svg) no-repeat center 1px;
}

.my-datepicker .ui-datepicker a.ui-datepicker-calendar-red {
    background: url(./../img/lk/red-point.svg) no-repeat center 1px;
}

.my-datepicker .ui-datepicker a.ui-datepicker-calendar-yellow {
    background: url(./../img/lk/yellow-point.svg) no-repeat center 1px;
}*/

.my-datepicker td {
    border: 0;
    text-align: center;
    padding: 2px;
}

.my-datepicker .ui-datepicker td a {
    background: transparent;
    width: 100%;
    max-width: 30px;
    color: #ffffff;
    font-size: 13.3px;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    height: 100%;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.my-datepicker .ui-datepicker td.ui-datepicker-week-end  a {
	color: #D12F46;
	font-weight: 500;
}
.my-datepicker .ui-datepicker .ui-state-active{
	border-color: #61C75C;
	border-color: transparent;
}
.my-datepicker .ui-datepicker .ui-state-highlight{
	border-color: rgba(88, 223, 206, 0.5);
	box-shadow: inset 0px 3px 7.5px rgba(88, 223, 206, 0.1);
}
/*.my-datepicker td a.ui-state-active {
    background: url(./../img/lk/border-date.svg) no-repeat center center!important;
}*/

/*.datepicker-developments {
    margin-left: 5px;
    border-radius: 2px;
    background-color: rgba(27, 43, 68, .8);
    width: 272px;
    height: 42px;
    border-left: 2px solid rgb(73, 215, 97);
    margin-top: 20px;
    top: 248px;
}*/
.board__link{
	color: #fff;
	font-size: 10px;
	text-decoration: none!important;
}
.link{
	text-decoration: none;
	color: #fff;
}
.link:hover{
	color: #00FFE0;
}
.link-danger-h:hover,
.link-danger{color: #D12F46;}
.link-warning-h:hover,
.link-warning{color: #F5EF52;}
.link-success-h:hover,
.link-success{color: #61C75C;}

.link-hs{opacity: 0;}
.board__table:hover .link-hs{opacity: 1;}

.board__table{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 8px;
}
.board__table > div{
	padding: 4px;
}
.board__table.th{
	position: sticky;
	top: 0;
	z-index: 2;
	font-weight: 500;
	font-size: 10.5px;
	background: #283749;
}
.board__table:not(.th){
	position: relative;
	font-size: 10.8px;
	margin-top: 7px;
	border: 1px solid rgba(88, 223, 206, 0.7);
	box-shadow: inset 0px 3px 7.5px rgba(88, 223, 206, 0.1);
	border-radius: 3.74653px;
}
.board__table::before{
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	height: calc(100% + 2px);
	width: 7px;
	background: transparent;
	border-radius: 3.74653px 0px 0px 3.74653px;
}
.board__table-danger::before{background: #D12F46;}
.board__table-warning::before{background: #F5EF52;}
.board__table-success::before{background: #61C75C;}

.board__table-subtitle{font-weight: 500;}
.board__table-text{font-size: 10px}

.board-workField .searsh-field{
	position: sticky;
	top: 0;
	background: #283749;
	z-index: 2;
}
.searsh-field{
	display: block;
	width: 100%;
	height: 25px;
	border: 1px solid rgba(88, 223, 206, 0.7);
	box-shadow: inset 0px 3px 7.5px rgba(88, 223, 206, 0.1);
	border-radius: 3.74653px;
	font-size: 10px;
	padding: 0 10px;
	line-height: 23px;
	white-space: nowrap;
}
.searsh-field span{
	color: #00FFE0;
}
.searsh-field input{
	background: transparent;
	width: calc(100% - 20px);
	display: inline-block;
	padding: 0 10px;
	height: 100%;
	outline: none;
	color: #00ffe0;
	border: none;
}
.searsh-field input::placeholder{color: currentColor;}
.searsh-field input:focus::placeholder{color: transparent;}

.board__btn-add{
	font-size: 20px;
	line-height: 1;
}
.board__btn{
	display: inline-block;
	line-height: 20px;
	font-size: 8px;
	color: #fff;
	border: 0.5px solid rgba(88, 223, 206, 0.7);
	box-shadow: inset 0px 3px 7.5px rgba(88, 223, 206, 0.15);
	border-radius: 3.74653px;
	padding: 0 15px;
	text-decoration: none!important;
}
.board__btn:hover{
	color: #00FFE0;
}
.board__date{
	display: block;
	margin: 7px auto 0;
	width: 90px;
	text-align: center;
	border: 0.5px solid rgba(88, 223, 206, 0.7);
	box-shadow: inset 0px 3px 7.5px rgba(88, 223, 206, 0.1);
	border-radius: 3.74653px;
	font-weight: 500;
	font-size: 9px;
	line-height: 13px;
	color: #58DFCE;
}

.w-0{width: 0%}
.w-5{width: 5%}
.w-7{width: 7%}
.w-10{width: 10%}
.w-15{width: 15%}
.w-20{width: 20%}
.w-30{width: 30%}
.w-35{width: 35%}
.w-40{width: 40%}
.w-45{width: 45%}
.w-55{width: 55%}
.w-60{width: 60%}
.w-65{width: 65%}
.w-70{width: 70%}
.w-80{width: 80%}
.w-85{width: 85%}
.w-90{width: 90%}
.w-95{width: 95%}

.my_scroll{
	overflow-y: auto;
}
.my_scroll::-webkit-scrollbar-button {
	/*background-image:url('');*/
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

.my_scroll::-webkit-scrollbar-track {
	background-color: transparent;
}

.my_scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0, 255, 224, 0.3);
    border: 0.5px solid rgba(0, 255, 224, 0.5);
}

.my_scroll::-webkit-scrollbar-thumb:hover{
	background-color:rgba(0, 255, 224, 0.3);
}

.my_scroll::-webkit-resizer{
	/*background-image:url('');*/
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

.my_scroll::-webkit-scrollbar{
	width: 4px;
}
/*mozilla*/
.my_scroll{
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 255, 224, 0.3) transparent;
}



.checkbox,
.radio { display: none; }

.radio + label,
.checkbox + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding-left: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 10px;
	margin: 0;
}
.radio + label{
	padding-left: 15px;
}

.radio + label::before,
.checkbox + label::before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
}
.checkbox + label::before {
	width: 13px;
	height: 7px;
	background: #235762;
	border-radius: 15px;
	transition: background linear 0.2s;
}
.radio + label::before {
	width: 10px;
	height: 10px;
	border: 1px solid #58DFCE;
	border-radius: 50%;
}
.checkbox:checked + label::before {
	background: #4EC0B6;
}
.radio:checked + label::after,
.checkbox + label::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.checkbox + label::after {
	width: 7px;
    height: 7px;
    background: #3A767B;
	border-radius: 50%;
	z-index: 2;
	left: -0.3px;
	transition: left linear 0.25s;
}
.checkbox:checked + label::after {
    background: #fff;
    left: 6.3px;
}
.radio:checked + label::after {
	content: '';
	left: 3px;
	width: 4px;
	height: 4px;
	background: #58DFCE;
	border-radius: 50%;
}



/*   ////////////////////////////////////////////////////////////////////////////    */
/*                                      MEDIA                                    */
/*   ////////////////////////////////////////////////////////////////////////////    */

@media only screen and (max-width: 1540px) {
	.menu {
		max-width: 700px;
	}
	.my-container{
		width: calc(100% - 30px);
	}
	.dashboard__list{
		padding: 25px 0 20px 0;
	}
	.dashboard__list-one,
	.dashboard__list-two{
		height: calc(50% - 20px);
	}
	.dashboard__list-one{
		margin-bottom: 40px;
	}
	.board-tasks{
		width: calc(44.565217391304346% - 7px);
		margin: 0 15px 0 0;
	}
	.board-phone{
		width: calc(29.891304347826086% - 7px);
	}
	.board-calendar,
	.board-chat,
	.board-history,
	.board-workField,
	.board-notice{
		width: calc(25% - 11.25px);
	}
	.board-workField{margin-right: 0;}
	.board-tasks{
		left: 25.3%;
	}
	.board-tasks.default{
		left: 25.3%!important;
	}
	.board-phone{
		left: 70.6%;
	}
	.board-phone.default{
		left: 70.6%!important;
	}
	.board-notice{
		left: 25.3%;
	}
	.board-notice.default{
		left: 25.3%!important;
	}
	.board-history{
		left: 50.71%;
	}
	.board-history.default{
		left: 50.71%!important;
	}
	.board-workField{
		left: 75.8%;
	}
	.board-workField.default{
		left: 75.8%!important;
	}
}

@media only screen and (max-width: 1366px) {
}